@font-face{
    font-family:'digital-clock-font';
    src: url('../../../../../assets/digital-7.ttf');
   }


.card{
    border: solid black .1rem;
    text-align: center;
    height: 100%;
    border-radius: 5%;
    font-family: 'digital-clock-font';
}

.card img{
    width: 100px;
    
}