.cardsAll{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap:15px;
    justify-content: center;
    
}

.pokeMsg{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
